@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

body{
    height: 100%;
    width: 100%;
}

#courtBoard{
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;


    /* background-color: aquamarine; */
}

#courtBoard .dash-title{
    align-content: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 15px;
}

#courtBoard .dash-title .tag-name{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

#courtBoard .card-container{
    /* background-color: bisque; */
    width: 100%;
    height: 100%;
}

#courtBoard .card-container .see-booked-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 6px;

}

#courtBoard .card-container .booked-list{
    font-size: 20px;
    font-weight: 500;
}

#courts_info{
    width: 100%;
    height: 45vh;
    padding: 10px 10px;
    /* border: 1px solid #000; */
    overflow: auto;
    box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.1);
    border-radius: 18px;
    
    display: grid;
    grid-template-rows: 6.6rem;
    gap: 0.7rem;
}

#courts_info .bookingcard{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 6.6rem;

    border: none;
    border-radius: 12px;
    box-shadow: 0px 3px 10px 4px rgba(0,0,0,0.1);
}

#courts_info .bookingcard .details{
    width: 100%;
    padding: 10px;
}

.details p, .details h2{
    margin: 0;
}

#courts_info .bookingcard .court-del-btn{
    width: 70px;
    height: 100%;
    border: none;
    background-color: crimson;
    color: #fff;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.bookingcard .court-del-btn:focus{
    outline: none;
}

.bookingcard .court-del-btn:hover{
    opacity: 0.9;
}

.bookingcard .court-del-btn i{
    font-size: 18px;
}



