




.court_info .bookingcard{
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.2);

    width: 340px;
    height: 100px;
    padding: 10px 14px;
    margin: 3px;

    border-radius: 12px;
}
.court_info .bookingcard h1{
    margin-bottom: 15px;
}
.court_info{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 0.6rem;
}