{% extends 'base.html' %}

{% block title %} Log In {% endblock %}

{% block content %}
    <div id="loginPage">
        <div class="login-info">
            <h1>Login</h1>
            <form class="login-inputs">
                {{ form.hidden_tag() }}

                {{ form.email }}
                {{ form.password }}

                {{ form.submit() }}
                <p>Create a new account? <a href="/register" class="regiBtn">Register</a></p>
                <a href="#" class="forgotBtn">Forgot Password</a> 
            </form>
        </div>
    </div>
{% endblock %}