{% extends 'base.html' %}

{% block title %} Sign Up {% endblock %}

{% block content %}
    <div id="registerPage">
        <div class="register-info">
            <h1>Register</h1>
            <form class="register-inputs" method="POST">
                {{ form.hidden_tag() }}

                {{ form.email }}
                {{ form.username }}
                {{ form.password1 }}
                {{ form.password2 }}

                {{ form.submit() }}
                <p>Arealdy have an account? <a href="/login" class="regiBtn">Login</a></p>
            </form>
        </div>
    </div>

{% endblock %}