{% extends 'admin/admin_base.html' %}


{% block title %} Bookings {% endblock %}
{% block content %}

<div id="bookings" class="section">
    <h1>Bookings</h1>
    <div class="insights">
        <div class="recent-booking">
            <h2>Recent Bookings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Booking Token</th>
                        <th>Court</th>
                        <th>Customers</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.token }}</td>
                        <td>{{ booking.court_name }}</td>
                        <td>{{ booking.username }}</td>
                        <td>{{ booking.time }} PM</td>
                        <td>{{ booking.date }}</td>
                        <td class="success">{{ booking.status }}</td>
                        <td class="primary"><a href="#" id="booking-details">Details</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="#">Show All</a>
        </div>

        <div class="booking-details-info">
            <h2>Customer - Mike</h2>
            <div class="customer-details">
                <form action="#" method="POST">
                    {% for detail in bookings %}
                    <input type="text" value='{{ detail.username }}'>
                    <input type="text" value='{{ detail.token }}'>
                    <input type="text" value='{{ detail.time }}'>
                    <input type="text" value='{{ detail.date }}'>
                    <input type="text" value='{{ detail.status }}'>
                    <input type="text" value='{{ detail.payment }}'>
                    <input type="text" value='{{ detail.is_checked }}'>
                    {% endfor %}
                    <a href="#" class="submit-btn">Submit</a>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}