<div class="sidemenubar">
    <div class="top">
        <div class="logo">
            <h2>PETAN<span style="color: crimson; font-family: 'Script';">Q</span></h2>
        </div>
        <div class="clOp" style="display: none;">
            <span class="material-symbols-rounded">keyboard_double_arrow_left</span>
        </div>
    </div>
    <div class="navbar">
        <a href="#dashboard" data-section="dashboard">
            <span class="material-symbols-rounded">space_dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a href="#bookings" class="active" data-section="bookings">
            <span class="material-symbols-rounded">receipt_long</span>
            <h3>Bookings</h3>
        </a>
        <a href="#customers" data-section="customers">
            <span class="material-symbols-rounded">groups</span>
            <h3>Customers</h3>
        </a>
        <a href="#analytics" data-section="analytics">
            <span class="material-symbols-rounded">show_chart</span>
            <h3>Analytics</h3>
        </a>
        <a href="#messages" data-section="messages">
            <span class="material-symbols-rounded">mail</span>
            <h3>Messages</h3>
            <!-- <span class="message-count">26</span> -->
        </a>
        <a href="#courts" data-section="courts">
            <span class="material-symbols-rounded">flag_2</span>
            <h3>Courts</h3>
        </a>
        <a href="#reports" data-section="reports">
            <span class="material-symbols-rounded">report</span>
            <h3>Reports</h3>
        </a>
        <a href="#settings" data-section="settings">
            <span class="material-symbols-rounded">settings</span>
            <h3>Settings</h3>
        </a>
        <a href="#logout" data-section="logout">
            <span class="material-symbols-rounded">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</div>