/* ---------------------------- Confirm Booking ---------------------- */
.confirmBooking-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
}

.confirmBooking-back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    width: 2rem;
}

.confirmBooking-header-title {
    text-align: left;
    width: 70%;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
}

.bookingform_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed to flex-start for better alignment */
    gap: 1rem;
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
}

.bookingform_container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Changed from grid to flex */
    gap: 1.2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.bookingform_container form .formItems {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.bookingform_container form .formItems label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
}

.bookingform_container form .formItems input, 
.bookingform_container form .formItems select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.bookingform_container form .formItems input:focus, 
.bookingform_container form .formItems select:focus {
    border-color: var(--primary-color);
}

.bookingform_container .formbtn {
    display: flex;
    justify-content: space-between; /* Change to space-between for better button placement */
    align-items: center;
    width: 100%;
    margin-top: 0; /* Remove margin-top for better spacing */
}

.formbtn button {
    font-size: 1rem;
    padding: 0.7rem 1rem;
    width: 45%; /* Adjusted for better spacing on mobile */
    border: none;
    box-shadow: 0 2px 4px var(--shadow-color);
    background-color: var(--primary-color);
    color: #fff;
    font-weight: 600;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formbtn button:focus {
    outline: 2px solid var(--primary-color);
}

.formbtn button:hover {
    background-color: var(--btnHover-color);
}

/* Media Queries for additional mobile adjustments */
@media (max-width: 480px) {
    .confirmBooking-header-title {
        font-size: 1.2rem; /* Adjust title font size */
    }
    .formbtn button {
        width: 40%; /* Full width buttons on very small screens */
        margin-top: 0.5rem; /* Add spacing between buttons */
    }
}
