/* ---------------------------- Main Page ---------------------- */

.padding-sides {
    padding: 0 20px;
}

.home-header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-color);
    padding: 0 1.2rem;
    box-shadow: 0 2px 3px 2px rgba(0,0,0,0.1);
}

.home-header .logo {
    width: 10rem;
    height: 3.4rem;
}

#notificationBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.home-content {
    max-width: 100%;
    margin: 3px auto 0;
    padding: 20px;
    padding-bottom: 80px;
}

#mainpage {
    margin-top: 80px; /* Add margin to avoid overlap with header */
}

.booked-item {
    transition: transform 0.2s, box-shadow 0.2s;
}

.booked-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rules {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0,0, 0.1);
}

.rules h3 {
    margin-top: 0;
    color: var(--darktext-color);
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

#rulesList {
    max-height: 340px; 
    overflow-y: auto; 
    padding: 10px 20px;
    margin: 0;
    border: none; 
    border-radius: 12px;
    background-color: #f9f9f9; 
}

#rulesList li {
    list-style-type: disc; 
    margin-bottom: 10px;
    letter-spacing: 0.45px;
    line-height: 1.3;
}
