<div class="courts_info" id="courts_info">
    {% for court in court_info %}
    <div class="bookingcard">
        <div class="details">
            <h2 class="court-num">{{ court.courtName }}</h2>
            <p class="court-time">Available Time: {{ court.courtTime }}</p>
            <p class="court-price">Price: <span class="price">{{ court.courtPrice }} Baht</span></p>
        </div>
        <form action="{{ url_for('delete_court', court_id=court.courtID) }}" method="POST" class="court-del-btn">
            <button type="submit" class="court-del-btn"><i class="fa-solid fa-trash-can"></i></button>
        </form>
    </div>
    {% endfor %}
</div>
