{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div id="loginPage">
    <div class="login-info">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <div class="login-inputs">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Submit</button>
            </div>
        </form>
        <p>Create a new account? <a href="{{ url_for('register') }}" class="regiBtn">Register</a></p>
        <p><a href="{{ url_for('forgot_password') }}" class="forgotBtn">Forgot Password</a></p>
    </div>
</div>
{% endblock %}