{% extends 'base.html' %}

{% block title %}
Welcome to Petanque Club
{% endblock %}


{% block content %}
    <div id="welcomePage">
        <div class="welcome-content">
            <div class="welcome-text">
                <img src="{{url_for('static', filename='img/logo3.png')}}" alt="">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur eos laborum accusantium sint hic odit dolor, deleniti, labore, placeat quam voluptatibus! Saepe quasi consequuntur quod dolores nostrum illo facilis similique!</p>
            </div>
            <a href="login.html" class="next-btn">Start</a>
        </div>
    </div>


{% endblock %}