{% extends "base.html" %}

{% block title %}
    User - Dashboard
{% endblock %}

{% block content %}
    <div class="courtBoard" id="courtBoard">
        <div class="dash-title">
            <h1 class="tag-name">Dash Board</h1>
        </div>
        <div class="card-container">
            <div class="see-booked-list">
                <h2 class="booked-list">Booked Courts</h2>
                <a href="#">See More</a>
            </div>
            {% include 'court_info.html' %}
        </div>
    </div>
{% endblock %}
