{% extends 'end_user/user_base.html' %}

{% block title %} Booking {% endblock %}

{% block content %}

    <header class="booking-header">
        <button class="header-back-btn" aria-label="Go back"><i class="fas fa-chevron-left"></i></button>
        <h1>Bookings</h1>
    </header>

    <!-- -------------------------- BOOKING CALENDAR ------------------------- -->

    <div class="booking-calendar-container" method="POST">
        <div class="inner-calendar">
            <h2>Select Date</h2>
            <div id="booking-calendar" class="booking-calendar">
                <div class="calendar-header">
                    <button id="prevMonth">&lt;</button>
                    <h3 id="currentMonth">Month Year</h3>
                    <button id="nextMonth">&gt;</button>
                </div>
                <div class="calendar-body">
                    <div class="calendar-weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thu</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div id="calendarDays" class="calendar-days"></div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- -------------------------- BOOKING TIMES ------------------------- -->
    <div class="booking-avialable-times" method="GET">
        <h2 class="available-times-title">Avialable Times</h2>
        <div class="filter-section">
            <form method="GET" action="{{ url_for('user.bookings') }}" class="court-filter">
                <select id="courtFilter" name="court">
                    <option value="all">All Courts</option>
                    {% for court in unique_courts %}
                    <option value="{{ court }}">{{ court }}</option>
                    {% endfor %}
                </select>
            
                <select id="durationFilter" name="duration">
                    <option value="all">All Durations</option>
                    {% for duration in unique_durations %}
                    <option value="{{ duration }}">{{ duration }} hr(s)</option>
                    {% endfor %}
                </select>
            
                <button id="filterBtn" type="submit">Filter</button>
            </form>  
        </div>      
        
        <div class="booking-times-info">
            <div class="booking-times-list" id="booking-times-list"> 
                {% if not courts %}
                    <p>There is no Available Court at the moment.</p>
                {% else %}
                    {% for court in courts %}
                    <a href="{{ url_for('user.book_court', 
                    court_id=court.id,
                    date=court.date,
                    court_name=court.court_name,
                    duration=court.duration,
                    time=court.time,
                    price=court.current_price) }}" 
                    class="court-item">
                            <h3 class="item-title">{{ court.court_name }}</h3>
                            <p class="item-time info">Date: {{ court.date }}</p>
                            <p class="item-time info">Time: {{ court.time }}</p>
                            <p class="item-duration info">Duration: {{ court.duration }} hour(s)</p>
                            <p class="item-price info">Price: {{ court.current_price }} Baht</p>
                        </a> 
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    


{% endblock %}