{% extends 'end_user/user_base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
    <header class="profile-header">
        <button class="header-back-btn" aria-label="Go back"><i class="fas fa-chevron-left"></i></button>
        <p class="profile-header-title">Profile Status</p>
    </header>

    <!-- -------------------------- PROFILE CONTENT ------------------------- -->

    <div class="profile-content">
        <div class="profile-status-info">
            <img src="../static/img/member-2.png" alt="profile">
            <div class="general-info">
                <h1>Joshua Adam</h1>
                <p>08347563554</p>
            </div>
        </div>
        <div class="app-settings">
            <div class="individual-settings">
                <button class="settingsBtn">Account</button>
                <button class="settingsBtn">Theme</button>
                <button class="settingsBtn">Settings</button>
                <button class="settingsBtn">Feedbacks</button>
            </div>
            <div class="logout-box">
                <a href="/logout" id="logoutBtn" class="logoutBtn">Logout</a>
            </div>
        </div>
    </div>
    {% include 'navbar.html' %}

{% endblock %}
