{% extends 'end_user/user_base.html' %}

{% block title %} Home {% endblock %} 

{% block content %}
<div class="padding-sides home-content">
    <header class="home-header">
        <div class="logo">
            <img src="../static/img/logo2.png" alt="Logo" class="w-40 h-auto">
        </div>
        <button id="notificationBtn" aria-label="Notifications">
            <svg width="30" height="30" fill="white" xmlns="http://www.w3.org/2000/svg">
                <!-- Your SVG Icon Here -->
            </svg>
        </button>
    </header>

    <div class="flex flex-col items-center p-4 bg-gray-100" id="mainpage">
        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-gray-800">Your Bookings</h2>
        </div>
        
        <div class="grid grid-cols-1 gap-4 w-full">
            {% if bookings %}
                {% for booked in bookings %}
                    <div class="bg-white p-4 rounded-lg shadow-md">
                        <h3 class="text-lg font-bold text-gray-700">{{ booked.court_name }}</h3>
                        <p>Token: {{ booked.token }}</p>
                        <p>Time: {{ booked.time }}</p>
                        <p>Date: {{ booked.date.strftime('%Y-%m-%d') }}</p>
                        <p>Status: {{ booked.status }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="bg-white p-4 rounded-lg shadow-md text-center">
                    You haven't booked yet. Book now!
                </div>
            {% endif %}
        </div>
    
        <div class="mt-8 w-full">
            <h3 class="text-xl font-semibold text-gray-800 mb-4">Rules</h3>
            <div class="bg-white p-4 rounded-lg shadow-md">
                <ul class="list-disc pl-5">
                    {% for rule in rules %}
                        <li class="text-gray-600">{{ rule.rule_description }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>    
</div>

{% endblock %}